/* =-=-=-=-=-=-=-[Menu Eight]-=-=-=-=-=-=-=- */
/*
#menu8
{
	margin-top: 1px;
	text-align: left;
}

#menu8 tr
{
	list-style: none;
	margin: 0;
	padding: 0;
	width: auto;
}

#menu8 td a
{
	text-decoration: none;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 24px;
	width: auto;
}

#menu8 td a:link, #menu8 td a:visited
{
	color: #777;
	display: block;
	background: url(../images/Mainmenu.gif) 0 0px;
	width: auto;
	padding: 8px 0 0 20px;
}

#menu8 td a:hover
{
	color: #257EB7;
	background: url(../images/Mainmenu.gif) 0 -32px;
	padding: 8px 0 0 25px;
	width: auto;
}

#menu8 td a:active
{
	color: #fff;
	background: url(../images/Mainmenu.gif) 0 -64px;
	padding: 8px 0 0 25px;
	width: auto;
}
.toolbar
{
	font-size: 10px;
	font-family: Verdana;
	padding: 4px; 
	text-align: left;
	background-color: lightblue;
	background-color: rgba(180, 200, 233, 1.6); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr= '#ffffff' ,EndColorStr= 'lightblue' ); 
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff',EndColorStr='lightblue')"; 
}*/
